main{
    text-align: center;
}
table{
background-color: lightblue;
text-align: center;
height: 10rem;
margin-left: 41.4%;
}

input[type="button"] 
{ 
background-color:rgb(8, 8, 8); 
color: aliceblue;
width:50px
} 

input[type="text"] 
{ 
background-color:white;  
width:100% 
} 